export(run_sim)
export(prepare_pts)
export(auto_variogram_fit)
export(plot_auto_variogram)

importFrom(gstat, gstat, variogram, fit.variogram, vgm, krige, krige.cv)
importFrom(stats, optim)
importFrom(methods, as)
importFrom(sf, st_as_sf)
importFrom(terra, rast, ext, crs)
importFrom(rgrass, execGRASS, read_VECT, write_RAST)
importFrom(future, plan)
importFrom(future.apply, future_lapply)
importFrom(optparse, OptionParser, make_option, parse_args)
